extends layout 

block content 


 <h1 style= "text-align:center;">Contacto</h1>
 
 <p style="text-align:center;" >Correo: Kennimark843@gmail.com</p>
 <p ></p>
 <p style="text-align:center;" >Facebook: Ken </p>
 
 
