extends layout 

block content 


 <h1 style= "text-align:center;">Informacion Academica </h1>
 
 <p style="text-align:center;" >UNIVERSIDAD GERARDO BARRIOS</p>
 <P></P>
 <p style="text-align:center;">Nombre: Kenia Leticia Marquez Guevara</p>
 <P></P>
 <P style="text-align:center;">Codigo: SMIS651819</P>
 <P></P>
 <P style="text-align:center;">Materia: Programacion Computacional IV</P>
 <P></P>
 <P style="text-align:center;">Carrea: ING. en sistemas y redes informaticas</P>
 <P></P>
 <P style="text-align:center;">Facultad: Ciencia y Tecnologia</P>
 <P></P>
 <P style="text-align:center;">Ciclo: 2022</P>
 