extends layout 

block content 

 
 
 
 
 <h1 style= "text-align:center;">Descripcion</h1>
 <p style="background-color: antiquewhite; text-align:center;"><em>Mi nombre es Kenia Leticia Marquez Guevara. Tengo 21 años de edad y actualmente llevo 4°año de la carrera Ingenieria en Sistemas Informaticos. Llevo esta carrera porque desde pequeña me ha gustado todo lo que tiene que ver con tecnología y sistemas. A medida he ido creciendo me ha interesado más el tema de redes informáticas así como los avances tecnológicos, los diferentes y novedosos programas que van saliendo con la globalización. Esta carrera me ha enseñado que uno tiene que estar a la vanguardia con los cambios tecnológicos, para no quedar desfasados.<br><br/>
  
 </em></p>

 <img src="https://www.postposmo.com/wp-content/uploads/2020/05/para-que-sirve-la-tecnologia-2.jpeg" class="img-fluid"  />
 
 


